In [6]:
import sqlite3
connexion = sqlite3.connect('academy_awards.db')

portman_query_2 ="SELECT movies.movie, actors.actor FROM movies INNER JOIN movies_actors ON movies.id == movies_actors.movie_id INNER JOIN actors ON actors.id == movies_actors.actor_id WHERE actors.actor == 'Natalie Portman';"

portman_movies_2 = connexion.execute(portman_query_2).fetchall()

print(portman_movies_2)

[('Black Swan', 'Natalie Portman'), ('Closer', 'Natalie Portman')]