In [1]:
print('Hello world')

Hello world

titre test

In [2]:
import sqlite3

In [3]:
# connect()
sqlite3.connect('job.db')

In [4]:
#variable de connexion
connexion = sqlite3.connect('jobs.db')

In [5]:
#cursor()

In [7]:
#tuple
liste =[1, 'tomates']

In [8]:
t = ('Pomme', 'Banana')
print(t[1])

Banana

In [9]:
#utiliser le curseur pour exécuter des requêtes SQL
cursor = connexion.cursor()

In [10]:
query = 'SELECT * FROM recent_grads;'

In [11]:
cursor.execute(query)

In [12]:
results = cursor.fetchall()

In [13]:
print(results[0:5])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0), (3, 4, 2417, 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 1258, 16, 1123, 135, 0.107313196, 758, 1069, 150, 692, 40, 0.050125313, 70000, 43000, 80000, 529, 102, 0), (4, 5, 2405, 'CHEMICAL ENGINEERING', 'Engineering', 32260, 289, 21239, 11021, 0.341630502, 25694, 23170, 5180, 16697, 1672, 0.061097712, 65000, 50000, 75000, 18314, 4440, 972)]

In [14]:
query3 = 'SELECT Major, Major_category FROM recent_grads;'
cursor.execute(query3)

In [15]:
first_result = cursor.fetchone()
second_result = cursor.fetchone()
print(first_result)
print(second_result)

('PETROLEUM ENGINEERING', 'Engineering')
('MINING AND MINERAL ENGINEERING', 'Engineering')

In [17]:
thirth_result = cursor.fetchmany(5)
print(thirth_result)

[('ASTRONOMY AND ASTROPHYSICS', 'Physical Sciences'), ('MECHANICAL ENGINEERING', 'Engineering'), ('ELECTRICAL ENGINEERING', 'Engineering'), ('COMPUTER ENGINEERING', 'Engineering'), ('AEROSPACE ENGINEERING', 'Engineering')]

In [18]:
connexion.close()

In [19]:
thirth_result = cursor.fetchmany(5)
print(thirth_result)

ProgrammingError: Cannot operate on a closed database.