In [1]:
print('Hello World')

Hello World

# Conexion à la base de données

In [2]:
import sqlite3

In [5]:
# connect()
connexion = sqlite3.connect('jobs.db')

# Créer un curseur et exécuter une requête SQL sur Python

In [6]:
# cursor()

In [7]:
liste =[1,'tomates']

In [8]:
# tuple
t = ('Pomme', 'Banane')

In [9]:
apple = t[0]
print (apple)

Pomme

In [10]:
apple = t[1]
print (apple)

Banane

In [11]:
cursor = connexion.cursor()

In [12]:
# requête SQl qu'on assigne à la variable query en tant que string
query = 'SELECT * FROM recent_grads;'

In [13]:
# execute la requête SQL située dans la variable query 
# et ce curseur convertit les résultats en tuples
# puis les stocke dans une variable locale
cursor.execute(query)

In [15]:
# Chercher tous les résultats qu'on a récupéré 
# sous la forme d'une liste de tuples 
# et qu'on assigne à la variable results
results = cursor.fetchall()

In [16]:
#list_of_tuples = [(1,2,3), ('été', 'printemps'), ...]

In [17]:
print(results[0:5])

[]

In [18]:
results = cursor.fetchall()

In [19]:
print(results[0:5])

[]

In [20]:
query = 'SELECT * FROM recent_grads;'

In [21]:
cursor.execute(query)

In [22]:
results = cursor.fetchall()

In [23]:
print(results[0:5])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0), (3, 4, 2417, 'NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering', 1258, 16, 1123, 135, 0.107313196, 758, 1069, 150, 692, 40, 0.050125313, 70000, 43000, 80000, 529, 102, 0), (4, 5, 2405, 'CHEMICAL ENGINEERING', 'Engineering', 32260, 289, 21239, 11021, 0.341630502, 25694, 23170, 5180, 16697, 1672, 0.061097712, 65000, 50000, 75000, 18314, 4440, 972)]

In [24]:
#connexion
connexion = sqlite3.connect('jobs.db')

In [25]:
cursor = connexion.cursor()

In [26]:
# requête SQL Majors
query ='SELECT Major FROM recent_grads;'

In [27]:
cursor.execute(query)

In [28]:
# on assigne la variable majors aux résultats SQL
majors = cursor.fetchall()

In [29]:
print(majors[0:5])

[('PETROLEUM ENGINEERING',), ('MINING AND MINERAL ENGINEERING',), ('METALLURGICAL ENGINEERING',), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING',), ('CHEMICAL ENGINEERING',)]

In [30]:
import sqlite3
connexion = sqlite3.connect('jobs.db')
cursor = connexion.cursor()

query2 = 'SELECT Major_code FROM recent_grads;'
majorCode = cursor.execute(query2).fetchall()
print(majorCode[0:5])

[(2419,), (2416,), (2415,), (2417,), (2405,)]

# Chercher un certain nombre de résultats

In [31]:
# fetchone () qui va chercher une seule valeur != de fetchall
# fetchmany(n) qui va chercher une valeur précise avec le paramètre (n)

In [32]:
import sqlite3
connexion = sqlite3.connect('jobs.db')
cursor = connexion.cursor()

query3 = 'SELECT Major, Major_category FROM recent_grads;'
cursor.execute(query3)

In [33]:
# création de la variable first_result pour récupérer le résultat en tuple
first_result = cursor.fetchone()
# création d'une 2d variable second_result pour montrer que le curseur se déplace
second_result = cursor.fetchone()
print(first_result)
print(second_result)

('PETROLEUM ENGINEERING', 'Engineering')
('MINING AND MINERAL ENGINEERING', 'Engineering')

In [34]:
thirth_result = cursor.fetchmany(5)
print(thirth_result)

[('METALLURGICAL ENGINEERING', 'Engineering'), ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'), ('CHEMICAL ENGINEERING', 'Engineering'), ('NUCLEAR ENGINEERING', 'Engineering'), ('ACTUARIAL SCIENCE', 'Business')]

# Stopper a connexion à la base de données

In [35]:
#la mthd close() à appliquer à notre instance de connexion

In [36]:
connexion = sqlite3.connect('jobs.db')
connexion.close()